.paragraph {
    color: blue;
    font-size: 25px;
    font-weight: normal;
    font-family: Didot;
}

body {
    background-image: url("https://images.wallpaperscraft.ru/image/single/kartofel_fri_burger_gamburger_110510_3840x2160.jpg")
}




.burger {
    color: white;
}
